@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);








#ext_menu-35 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-35.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-35 .mbr-navbar__hamburger {
  color: #ffffff;
}
#slider-1a H1 {
  color: #28324e;
  font-family: 'Roboto', sans-serif;
}
#slider-1a P {
  font-family: 'Roboto', sans-serif;
}
#pricing-table1-22 SPAN {
  font-size: 60px;
}
#content5-1r .mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}
#content5-1r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1r .mbr-article {
  color: #fff;
}
#content5-1r .mbr-article P {
  font-family: 'Ubuntu', sans-serif;
}
#content5-1r .mbr-article UL {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
#form1-u .btn {
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
}
#form1-u .mbr-header__text {
  color: #ffffff;
}
#contacts1-1z STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-1z P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-1q P {
  color: #8e8e8e;
}


#ext_menu-2h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2h.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-2h .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2i STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-2i P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-2j P {
  color: #8e8e8e;
}


#ext_menu-2n .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2n.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2n .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2o STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-2o P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-2p P {
  color: #8e8e8e;
}


#ext_menu-2r .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2r.mbr-navbar--stuck .mbr-navbar__section {
  background: #352c2c;
}
#ext_menu-2r .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2s STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-2s P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-2t P {
  color: #8e8e8e;
}


#ext_menu-2v .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2v.mbr-navbar--stuck .mbr-navbar__section {
  background: #352c2c;
}
#ext_menu-2v .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-2w STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-2w P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-2x P {
  color: #8e8e8e;
}


#ext_menu-2z .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2z.mbr-navbar--stuck .mbr-navbar__section {
  background: #000000;
}
#ext_menu-2z .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-30 STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-30 P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-31 P {
  color: #8e8e8e;
}


#ext_menu-32 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-32.mbr-navbar--stuck .mbr-navbar__section {
  background: #352c2c;
}
#ext_menu-32 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-33 STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-33 P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-34 P {
  color: #8e8e8e;
}


#ext_menu-35 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-35.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-35 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-36 STRONG {
  color: #252525;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-36 P {
  color: #28324e;
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
}
#footer1-37 P {
  color: #8e8e8e;
}
